<header class="fixed-top">
  <nav class="navbar navbar-light bg-white">
      <a class="navbar-brand">
        <i
          class="fa fa-bars mr-2"
          tabindex="0"
          (keyup.space)="menu.toggle()"
          (click)="menu.toggle()"
        ></i> ALURAPIC
      </a>

      <app-menu #menu>
        <ul class="list-unstyled">
          <li>
            <a showIfLogged [routerLink]="['p','add']" (click)="menu.toggle()">Upload</a>
          </li>
        </ul>
      </app-menu>

      <div *ngIf="(user$ | async) as user; else login">
        <i class="fa fa-user-circle mr-1"></i>
        <a class="mr-1">{{ user.name }}</a>
        <a (click)="logout()">(Logout)</a>
      </div>

      <ng-template #login>
        <span class="navbar-text">
            <a [routerLink]="['home/signin']">Please, login!</a>
        </span>
      </ng-template>
  </nav>
  <div class="fixed-top">
    <app-loading></app-loading>
    <app-alert></app-alert>
  </div>
</header>
