<div class="container">
  <form class="row" [formGroup]="photoForm" (ngSubmit)="upload">
    <div class="col-md-6 text-center">
      <div class="form-group" *ngIf="!preview; else showPreview">
        <button type="button" class="btn btn-primary" (click)="fileInput.click()" appImmediateClick>
          <i class="fa fa-image fa-4x align-middle"></i>
        </button>
        <input
          #fileInput
          hidden
          type="file"
          accept="image/*"
          formControlName="file"
          (change)="loadPhoto($event)">
        <app-vmessage
          text="Please, select a photo"
          *ngIf="photoForm.get('file')?.errors?.required">
        </app-vmessage>
      </div>
      <ng-template #showPreview>
        <div class="text-center">
          <app-photo [url]="preview" [title]="'Preview'"></app-photo>
        </div>
      </ng-template>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <textarea
          class="form-control form-control-sm"
          placeholder="photo description"
          formControlName="description">
        </textarea>
        <app-vmessage
        text="Max length is 300"
        *ngIf="photoForm.get('description')?.errors?.maxlength">
      </app-vmessage>
      </div>

      <div class="form-group">
        <label class="text-muted">
          Allow comments
          <input
            type="checkbox"
            formControlName="allowComments">
        </label>
      </div>
      <div *ngIf="!percentDone; else percent">
        <button type="button" class="btn btn-primary btn-block" [disabled]="photoForm.invalid" (click)="upload()">
          Upload
        </button>

        <a [routerLink]="['']" class="btn btn-secondary btn-block">Cancel</a>
      </div>
      <ng-template #percent>
        <div class="text-center display-4">
          Uploading... {{ percentDone }}%
        </div>
      </ng-template>
    </div>
  </form>
</div>
