<div class="bg-white border" *ngIf="(photo$ | async) as photo">
  <div class="row">
    <div class="col-lg-8">
      <app-photo [url]="photo.url" [description]="photo.description"></app-photo>
    </div>

    <div class="col-lg-4 p-4">
      <small>
        <p class="text-left break-word">{{photo.description}}</p>
        <div class="text-left mb-4">
          <i class="fa fa-heart-o fa-2x mr-2 pull-left" (click)="like(photo.id)" showIfLogged>{{ photo.likes }}</i>
          <i class="fa fa-comment-o fa-2x mr-2 ml-2">{{ photo.comments }}</i>
          <i class="fa fa-trash-o fa-2x pull-right" (click)="remove(photo.id)" [ownedPhoto]="photo" photoOwnerOnly></i>
        </div>
        <hr>
      </small>

      <app-photo-comments [photoId]="photo.id" [allowComments]="photo.allowComments"></app-photo-comments>
    </div>
  </div>
</div>
