<h4 class="text-center"> Register to embrace a new world!</h4>

<form #form="ngForm" [formGroup]="registerForm" name="registerForm" class="form mt-4" (ngSubmit)="register()">
    <div class="form-group">
        <input
          formControlName="email"
          placeholder="E-mail"
          class="form-control"
          type="email"
          autofocus>
        <app-vmessage
          *ngIf="registerForm.get('email')?.errors?.required && (form.submitted || registerForm.get('email')?.touched)"
          text="E-mail is required!">
        </app-vmessage>
        <app-vmessage
          *ngIf="registerForm.get('email')?.errors?.email && (form.submitted || registerForm.get('email')?.touched)"
          text="Invalid e-mail">
        </app-vmessage>
    </div>

    <div class="form-group">
        <input
          formControlName="fullName"
          placeholder="Fullname"
          class="form-control"
          type="text">
        <app-vmessage
          *ngIf="registerForm.get('fullName')?.errors?.required && (form.submitted || registerForm.get('fullName')?.touched)"
          text="Full name is required!">
        </app-vmessage>
        <app-vmessage
          *ngIf="registerForm.get('fullName')?.errors?.minlength && (form.submitted || registerForm.get('fullName')?.touched)"
          text="Minimum length is 2">
        </app-vmessage>
        <app-vmessage
          *ngIf="registerForm.get('fullName')?.errors?.maxlength && (form.submitted || registerForm.get('fullName')?.touched)"
          text="Maximum length is 40">
        </app-vmessage>
    </div>

    <div class="form-group">
        <input
          formControlName="userName"
          placeholder="Username"
          class="form-control"
          type="text">
        <app-vmessage
          *ngIf="registerForm.get('userName')?.errors?.required && (form.submitted || registerForm.get('userName')?.touched)"
          text="Username is required!">
        </app-vmessage>
        <app-vmessage
          *ngIf="registerForm.get('userName')?.errors?.minlength && (form.submitted || registerForm.get('userName')?.touched)"
          text="Minimum length is 2">
        </app-vmessage>
        <app-vmessage
          *ngIf="registerForm.get('userName')?.errors?.maxlength && (form.submitted || registerForm.get('userName')?.touched)"
          text="Maximum length is 30">
        </app-vmessage>
        <app-vmessage
          *ngIf="registerForm.get('userName')?.errors?.lowercase && (form.submitted || registerForm.get('userName')?.touched)"
          text="Must be lower case">
        </app-vmessage>
        <app-vmessage
          text="Username already taken"
          *ngIf="registerForm.get('userName')?.errors?.userNameTaken && (form.submitted || registerForm.get('userName')?.touched)">
        </app-vmessage>
        <small *ngIf="registerForm.get('userName')?.valid && (form.submitted || registerForm.get('userName')?.touched)" class="text-success">User available</small>
        <!-- <app-vmessage
          *ngIf="registerForm.get('userName')?.errors?.pattern"
          text="Must be lower case">
        </app-vmessage> -->
    </div>

    <div class="form-group">
        <input
          formControlName="password"
          placeholder="Password"
          class="form-control"
          type="password">
        <app-vmessage
          *ngIf="registerForm.get('password')?.errors?.required && (form.submitted || registerForm.get('password')?.touched)"
          text="Password is required!">
        </app-vmessage>
        <app-vmessage
          *ngIf="registerForm.get('password')?.errors?.minlength && (form.submitted || registerForm.get('password')?.touched)"
          text="Minimum length is 8">
        </app-vmessage>
        <app-vmessage
          *ngIf="registerForm.get('password')?.errors?.maxlength && (form.submitted || registerForm.get('password')?.touched)"
          text="Maximum length is 14">
        </app-vmessage>

        <app-vmessage
          *ngIf="registerForm.errors?.userNamePassword && form.submitted"
          text="Username and password must be different">
        </app-vmessage>
    </div>

    <button class="btn btn-primary btn-block">Register</button>

    <p>Already a user?<a [routerLink]="['../signin']"> Sign In!</a></p>
</form>
