<h4 class="text-center"> Register to embrace a new world!</h4>

<form [formGroup]="registerForm" name="registerForm" class="form mt-4" (ngSubmit)="register()">
    <div class="form-group">
        <input
          formControlName="email"
          placeholder="E-mail"
          class="form-control"
          type="email"
          autofocus>
        <app-vmessage
          *ngIf="registerForm.get('email')?.errors?.required"
          text="E-mail is required!">
        </app-vmessage>
        <app-vmessage
          *ngIf="registerForm.get('email')?.errors?.email"
          text="Invalid e-mail">
        </app-vmessage>
    </div>

    <div class="form-group">
        <input
          formControlName="fullName"
          placeholder="Fullname"
          class="form-control"
          type="text">
        <app-vmessage
          *ngIf="registerForm.get('fullName')?.errors?.required"
          text="Full name is required!">
        </app-vmessage>
        <app-vmessage
          *ngIf="registerForm.get('fullName')?.errors?.minlength"
          text="Minimum length is 2">
        </app-vmessage>
        <app-vmessage
          *ngIf="registerForm.get('fullName')?.errors?.maxlength"
          text="Maximum length is 40">
        </app-vmessage>
    </div>

    <div class="form-group">
        <input
          formControlName="userName"
          placeholder="Username"
          class="form-control"
          type="text">
        <app-vmessage
          *ngIf="registerForm.get('userName')?.errors?.required"
          text="Username is required!">
        </app-vmessage>
        <app-vmessage
          *ngIf="registerForm.get('userName')?.errors?.minlength"
          text="Minimum length is 2">
        </app-vmessage>
        <app-vmessage
          *ngIf="registerForm.get('userName')?.errors?.maxlength"
          text="Maximum length is 30">
        </app-vmessage>
        <app-vmessage
          text="Username already taken"
          *ngIf="registerForm.get('userName')?.errors?.userNameTaken">
        </app-vmessage>
        <small *ngIf="registerForm.get('userName')?.valid" class="text-success">User available</small>
        <!-- <app-vmessage
          *ngIf="registerForm.get('userName')?.errors?.lowercase"
          text="Must be lower case">
        </app-vmessage> -->
        <!-- <app-vmessage
          *ngIf="registerForm.get('userName')?.errors?.pattern"
          text="Must be lower case">
        </app-vmessage> -->
    </div>

    <div class="form-group">
        <input
          formControlName="password"
          placeholder="Password"
          class="form-control"
          type="password">
        <app-vmessage
          *ngIf="registerForm.get('password')?.errors?.required"
          text="Password is required!">
        </app-vmessage>
        <app-vmessage
          *ngIf="registerForm.get('password')?.errors?.minlength"
          text="Minimum length is 8">
        </app-vmessage>
        <app-vmessage
          *ngIf="registerForm.get('password')?.errors?.maxlength"
          text="Maximum length is 14">
        </app-vmessage>
    </div>

    <button [disabled]="registerForm.invalid || registerForm.pending" class="btn btn-primary btn-block">Register</button>

    <p>Already a user?<a [routerLink]="['']">Sign In!</a></p>
</form>
